<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Work+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>dashboard</title>
  </head>
  <body>
    <header>
        <h1 class="text-center top" style="font-size: 26px;padding-top: 7px;">Fashion House</h1>
    </header>
 
    <div class="sidenav">
      <h3 class="text-light text-center mb-5"><span><img src="../static/images/dashboard.png" style="width: 20px;" alt="" class="img-fluid"> </span> DASHBOARD</h3>
      <a href="dashboard-create.html"><i class="fas fa-plus mr-2"></i>Create</a>
      <a href="dashboard-list.html"><i class="fas fa-list mr-2"></i>Product list </a>
    </div>
    
    <div class="main">
    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="../static/images/river.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Tailors / Fashion designers</h4>
            <p class="card-text">upload tailor's design , edit designs , delete designs , and view list
              of all design on the Fashion House presently
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="../static/images/collections.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Runway and trends</h4>
            <p class="card-text">We keep to being updated about the trends and happenings in the fashion 
              industry , soon we'd find collaborations , sponsorships and partnership
            </p>
          </div>
        </div>
      </div>
    </div> 
   <ul class="text-center mt-4 bnav">
     <li><a href="index.html">Home</a></li>
     <li><a href="stores.html">Store</a></li>
     <li><a href="about.html">About</a></li>
     <li><a href="index.html">Logout</a></li>
   </ul>
    </div>


    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>